/* comum a todas as páginas  */
html, body {
    height: 100%;
    margin: 0;
  }
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .content {
    flex: 1;
  }
  footer {
    margin-top: auto;
  }
  .logo {
    width: 200px;
    height: auto;
  }
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .navbar-nav {
    margin-right: auto;
  }
  .navbar-collapse {
    flex-grow: 1;
    justify-content: flex-end;
  }
/* header {
    text-align: center;
    width: 100%;
    display: flex;
    border: 2px solid black;
} 

p {
    font-size: 1.2em;
    text-align: justify;
}

form {
    display: block;
    margin-bottom: 10px;
    padding: 20px;

}

label, input{
    margin-bottom: 5px;
    display: block;
} */

 /* Trabalhando a página inicial  */
 
/* #inicio h1 {
    font-size: 2.8em; 
    color: gray;
    font-weight: bold;
}



 table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 800px;
    height: fit-content;
    line-height: 48px;
}


.formacademico{
    width: 50%;
    height: 90%;
    box-sizing: border-box;
    display: inline-block;
}
.form {
    background: linear-gradient(to bottom, #7fffd4, #9fffdf, #fff);
    align-items: left;
    width: 100%;
}

.form input {
    background-color: antiquewhite;
    border: 2px solid gray;
}
.form input::after{
    border: 2px solid black;

}

input[type="submit"] {
    border-radius: 5px;
    padding: 10px 15px;
}

input[type="submit"]:hover {
    border-radius: 5px;
    padding: 10px 15px;
    border: 2px solid black;
}

.resultado {
    font-size: 3em;
    background: linear-gradient(to bottom, rgb(35, 138, 223), #fff);
    color: #fff;
    border: 5px solid black;
    border-radius: 10px;
}  */

