/* comum a todas as páginas */

@font-face {
    font-family: RobotoRegular;
    src: url(fonte/Roboto-Regular.ttf);
}

body {
    font-family: Roboto;
}

p {
    font-size: 1.2em;
    text-align: justify;
}

form {
    display: block;
    margin-bottom: 10px;
    padding: 20px;

}

label, input{
    margin-bottom: 5px;
    display: block;
}

/* Trabalhando a página inicial */

#inicio h1 {
    font-size: 2.8em; 
    color: blue;
    font-weight: bold;
}



table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 800px;
    height: fit-content;
    line-height: 48px;
}

.logo {
    width: 200px;
    height: auto;
}

.formacademico{
    width: 50%;
    height: 90%;
    box-sizing: border-box;
    display: inline-block;
    float: left;
}


.formulario {
    display: inline-block;
}